link(href="https://actionnetwork.org/css/style-embed-whitelabel.css" rel="stylesheet" type="text/css")
script(src="https://actionnetwork.org/widgets/v2/form/" + actionNetwork.id + "?format=js&source=widget")
div(id="can-form-area-" + actionNetwork.id style="width: 100%")