html, body {
	height: 100%;
	margin: 0;
}

body {
	background: url('/img/olb-standing-rock-fist@1024h.jpg') no-repeat center center fixed;
	background-size: cover;
}

section {
	background-color: white;
}
