:root {
	--black: #000000;
	--blue: #05027F;
	--yellow: #FFDC00;
	--red: #D3001D;
	--white: #FFF;

	--hero: '/img/background-image@1024h.jpg';
	--hero-2x: '/img/background-image@2x.jpg' 
}

@custom-media --not-small (min-width: 850px);
@custom-media --large (min-width: 1280px);
