html
	head
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(property="og:title" content="NO SUNOCO!")
		meta(property="og:description" content="Sunoco, Suncor, Speedway and other companies are speding billions to attack the land and people of Standing Rock. Let them know it must stop now.")
		meta(property="og:image" content="http://nosunoco.com/img/no-sunoco-share-image.png")
		meta(name="twitter:card" content="summary_large_image")
		meta(name="twitter:site" content="@nosunoco")
		link(rel="stylesheet", type="text/css", href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css")
		link(rel='stylesheet', href='/css/styles.css')
		include partials/favicon.html
		script(src="js/all.min.js")
body
	include partials/fb-share-preamble.html
	header
		h1.site-name #[span.site-name-no NO] SUNOCO!
		div#promo Boycott for Standing Rock.
	section#preamble
		//- strong BOYCOTT SUNOCO NOW:
		p In his first days as president, Trump signed an executive order to force through the development of the Dakota pipeline. Now the Army Corps of Engineers is reported set to grant the final easement to the pipeline project. Drilling can start as soon at any moment.
	section#join
		include partials/embed-actionnetwork.html
	section#explanation
		include:marked partials/explanation.md
	section#share
		a#button__fb-share.button.button--blue(onclick="doOpenFbShare()" href="#") Share on Facebook
		a#button__twitter-share.button.button--blue(href="https://twitter.com/intent/tweet?url=http%3A%2F%2Fnosunoco.com&text=DAPL%20profits%20and%20violence%20at%20Standing%20Rock%20won%27t%20fuel%20my%20holiday%20travel.%20Boycott%20Sunoco!&hashtags=nosunoco&related=nosunoco", onclick="doTrackTwitterShare()") Share on Twitter
	section#connect
		h2 Stay Connected
		p Follow the No Sunoco page on Facebook for updates.
		include partials/fb-like-button.html
	section#bumper-sticker
		h2 For your car
		p Let other drivers know that buying fuel from Sunoco means fueling the attacks on Standing Rock with this
			a(href="http://www.zazzle.com/no_sunoco_boycott_bumper_sticker-128151388391874298")  bumper sticker:
		p.sticker-image
			a.link__bumper-sticker(href="http://www.zazzle.com/no_sunoco_boycott_bumper_sticker-128151388391874298")
				img.img__bumper-sticker(src="/img/no-sunoco-bumper-sticker@512.png")
	footer
		include:marked partials/disclaimer.md
	include partials/ga.html
